.service{
    width: 1200px;
    height: 333px;
    border: 1px;
    margin-left: 50px;
    
}
.service {
   font-size: 20px;
   color: white;


}
.service h6{
    width: 100.00000000000011px;
height: 100px;
background-color: white;
margin-left: 1000px;
margin-top: 0px;



}
.serviceh1